@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

@font-face
    font-family: 'DINPro Light'
    font-style: normal
    font-weight: normal
    src: local('../fonts/DINPro Light'), url('../fonts/DINPro-Light tr.woff') format('woff')

@font-face
    font-family: 'DINPro Medium'
    font-style: normal
    font-weight: normal
    src: local('../fonts/DINPro Medium'), url('../fonts/DINPro-Medium tr.woff') format('woff')

@font-face
    font-family: 'DINPro Bold'
    font-style: normal
    font-weight: normal
    src: local('../fonts/DINPro Bold'), url('../fonts/DINPro-Bold tr.woff') format('woff')

@font-face
    font-family: 'DINPro Black'
    font-style: normal
    font-weight: normal
    src: local('../fonts/DINPro Black'), url('../fonts/DINPro-Black tr.woff') format('woff')