footer
    background: $blue
    border-top: 40px solid $red
    color: white
    .footer-logo-wrapper
        top: -134px
        width: 340px
        left: 50%
        transform: translate(-50%)
        .footer-logo
            width: 100px
            top: 20px
            left: 50%
            transform: translate(-50%)
    h4
        font-family: $noah-bold
        font-size: 20px
    .btn-footer
        font-family: $noah-bold
        background-color: white
        color: $red
        font-size: 16px
        border-radius: 30px
        padding: 10px 55px
    .copyright
        height: 54px
        background: #4d4d4d
        font-family: $noah-regular
        font-size: 12px
        span
            font-family: $noah-bold

@media (max-width: 996px )
    footer
        border-top: 20px solid $red
        .footer-logo-wrapper
            top: -75px
            width: 200px
            .footer-logo
                width: 50px
        
