$blue: #2d3580
$red: #e10a17
$grey: #747474
$light-grey: #f6f6f6

$noah-regular: 'noah-regular'
$noah-bold: 'noah-bold'

/* bootstrap override */
$theme-colors: ("primary": $blue, "secondary": $red)

