/* Main imports */
@import 'fonts'
@import 'variables'
@import 'mixins'
@import 'forms'
@import 'navbar'
@import 'header-carousel'
@import 'default-page'
@import 'footer'

/* vendor imports */
@import 'bootstrap/scss/bootstrap'
@import 'owl.carousel/src/scss/owl.carousel'

body
    overflow-x: hidden
    font-size: 20px

#slider
    .item
        height: calc(100vh - 82px)
        .header-title
            border-radius: 50px 50px 0px 50px
            font-family: $noah-regular
            color: $red
            h2
                font-size: 30px
        .header-link
            width: 135px
            font-family: $noah-bold
            background-color: $blue
            color: white
            border-radius: 0px 50px 50px 50px
            position: relative
            right: -135px
.title
    font-family: $noah-bold
    font-size: 55px
    color: $blue
.title-sm
    font-family: $noah-bold
    font-size: 30px
    color: $blue

.text-red
    color: $red

.text-light-grey
    color: #666b6f

.grey-scale
    filter: grayscale(100%);

.half-bg-right
    position: absolute
    right: 0
    top: 0
    width: 46vw
    height: 100%
    object-fit: cover
    object-position: center

.half-bg-left
    position: absolute
    left: 0
    top: 0
    width: 46vw
    height: 100%
    object-fit: cover
    object-position: center

.btn-red
    background-color: $red
    color: white
    border-radius: 50px
    padding-left: 50px
    padding-right: 50px

.grey-list
    color: #666b6f
    font-family: $noah-regular
    font-size: 22px
    span
        font-family: $noah-bold

.top-spacing
    padding-top: 120px
.bottom-spacing
    padding-bottom: 120px

.rounded-card
    border-radius: 50px 50px 50px 0px

.btn-video
    font-family: $noah-regular
    font-size: 22px
    color: $blue
    background: white
    border: 2px solid $blue
    border-radius: 50px
    padding-left:  25px
    padding-right:  25px

@media (max-width: 996px)
    #slider
        .item
            .header-link
                width: 200px
                right: 0